@model Apply
@{
    ViewData["Title"] = "Detail";
}



<section class="candidates-profile-bg">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="candidates-profile-details text-center">
                    <img src="~/images/apply/@Model.Image" class="img-fluid d-block mx-auto rounded-circle img-thumbnail mb-4">
                    <h4 class="text-white candidates-profile-name mb-2">@Model.Firstname</h4>
                    <p class="text-white-50 mb-2"><i class="mdi mdi-bank mr-2"></i>@Model.CompanyName</p>
                    <ul class="candidates-profile-icons list-inline mb-3">
                        <li class="list-inline-item text-white-50 pr-2 f-16">@Model.Category.CategoryName</li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star"></i></a></li>
                    </ul>

                    <ul class="candidates-profile-social-icons list-inline mb-0">
                        <li class="list-inline-item"><a href="@Model.Facebook" class=""><i class="mdi mdi-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="@Model.Twitter" class=""><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="@Model.Instagram" class=""><i class="mdi mdi-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="@Model.Google" class=""><i class="mdi mdi-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->



<!-- CANDIDATES PROFILE START -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-dark">About</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="job-detail mt-2 p-4">
                    <div class="job-detail-desc">
                        <p class="text-muted f-14 mb-3">@Model.AboutMe</p>
                    </div>
                    <hr>
                    <ul class="list-inline mt-3 mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="#" class="text-muted f-15 mb-0"><i class="mdi mdi-map-marker mr-2"></i>@Model.Address</a>
                        </li>

                        <li class="list-inline-item mr-3">
                            <a href="#" class="text-muted f-15 mb-0"><i class="mdi mdi-web mr-2"></i>@Model.Website</a>
                        </li>

                        <li class="list-inline-item mr-3">
                            <a href="#" class="text-muted f-15 mb-0"><i class="mdi mdi-email mr-2"></i>@Model.Email</a>
                        </li>

                        <li class="list-inline-item mr-3">
                            <a href="#" class="text-muted f-15 mb-0"><i class="mdi mdi-cellphone-iphone mr-2"></i>@Model.Phone</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        

     

        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-dark mt-4 mb-4">Education</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="job-detail candidates-profile-education text-center text-muted mb-5 mt-5">
                    <div class="profile-education-icon">
                        <i class="mdi mdi-school"></i>
                    </div>
                    <h6 class="text-uppercase f-17"><a href="#" class="text-muted">@Model.UniversityName</a></h6>
                    <p class="f-14 mb-1">@Model.StartUniversity - @Model.GraduationDate</p>
                    <p class="f-14 mb-0">@Model.Degree</p>
                    <hr class="mt-2 mb-2">
                    <p class="f-14 mb-0">Suspendisse faucibus et pellentesque egestas lacus ante convallis.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-dark mb-4">Experience</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="job-detail job-list-box mt-4 p-4">
                    <div class="row justify-content-around">
                        <div class="col-lg-3">
                            <div class="company-brand-logo text-center mb-4">
                                <img src="~/images/featured-job/img-2.png" alt="" class="img-fluid mx-auto d-block">
                            </div>
                        </div>

                        <div class="col-lg-7">
                            <div class="job-list-desc candidates-profile-exp-desc">
                                <h5 class="f-19 mb-2"><a href="#" class="text-dark">@Model.CompanyName</a></h5>
                                <p class="text-muted mb-0 f-16">@Model.Category.CategoryName</p>
                                <p class="text-muted mb-0 f-16">@Model.StartCompanyDate - @Model.EndCompanyDate</p>
                                <p class="text-muted mb-0 f-16">Salary : @Model.Salary$</p>
                                <p class="text-muted mb-0 f-16"><i class="mdi mdi-bank mr-2"></i>@Model.Email</p>
                                <p class="text-muted mb-0 f-16"><i class="mdi mdi-map-marker mr-2"></i>@Model.Address</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CANDIDATES PROFILE END -->


<!-- subscribe start -->
<partial name="_partialSubscribe" />
<!-- subscribe end -->
