@model BlogDetailVM
@{
    ViewData["Title"] = "Detail";
}
<section class="blog-details-bg">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="page-header-title text-center text-white">
                    <h1 class="font-weight-light">Blog Details</h1>
                    <div>
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="#">Joobsy</a></li>
                            <li class="breadcrumb-item"><a href="#">Blog</a></li>
                            <li class="breadcrumb-item active">Blog Details</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->
<!-- BLOG LIST START -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <form class="mt-4">
                    <input class="form-control search-form" type="search" placeholder="Search...">
                    <button class="search-button" type="submit"><a href="#" class="text-dark"><span class="mdi mdi-magnify"></span></a></button>
                </form>

                <div class="job-detail mt-4">
                    <h5 class="text-dark text-center p-2 mb-0">Categories</h5>
                    <hr class="m-0">
                    <div class="blog-datails-item p-3">
                        <ul class="list-inline mb-0">
                            @foreach (var item in ViewBag.Category)
                            {
                                <li class="mb-2"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>@item.CategoryName</a></li>

                            }
                        </ul>
                    </div>
                </div>
                
                <div class="job-detail mt-4">
                    <h5 class="text-dark text-center p-2 mb-0">Archives</h5>
                    <hr class="m-0">
                    <div class="blog-datails-item p-3">
                        <ul class="list-inline mb-0">
                            <li class="mb-2"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>08 January 2018</a></li>
                            <li class="mb-2"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>13 February 2018</a></li>
                            <li class="mb-2"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>10 March 2018</a></li>
                            <li class="mb-2"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>06 April 2018</a></li>
                            <li class="mb-2"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>12 May 2018</a></li>
                            <li class="mb-2"><a href="#" class="text-muted"><i class="mdi mdi-chevron-right mr-2"></i>27 June 2018</a></li>
                        </ul>
                    </div>
                </div>

                <div class="job-detail mt-4">
                    <h5 class="text-dark text-center p-2 mb-0">Archives</h5>
                    <hr class="m-0">
                    <div class=" p-3">
                        <div class="media">
                            <div class="blog-list-img mr-2">
                                <img src="images/employers/img-1.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                            </div>
                            <div class="media-body ml-2">
                                <p class="mb-0 text-muted mb-0 f-13"><a href="#" class="text-dark">In enime justo rhoncuse ut imperdiete as vitae justo niti nullam.</a></p>
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <a href="#" class="text-dark">
                                            <p class="mb-0">View all</p>
                                        </a>
                                    </li>
                                    <li class="list-inline-item float-right">
                                        <p class="text-dark mb-0">15-Dec-2018</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr>

                        <div class="media">
                            <div class="blog-list-img mr-2">
                                <img src="images/employers/img-2.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                            </div>
                            <div class="media-body ml-2">
                                <p class="mb-0 text-muted mb-0 f-13"><a href="#" class="text-dark">Integer tincidunte dapibus that Vivamus semper as vulputate.</a></p>
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <a href="#" class="text-dark">
                                            <p class="mb-0">View all</p>
                                        </a>
                                    </li>
                                    <li class="list-inline-item float-right">
                                        <p class="text-dark mb-0">22-Jan-2018</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr>

                        <div class="media">
                            <div class="blog-list-img mr-2">
                                <img src="images/employers/img-3.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                            </div>
                            <div class="media-body ml-2">
                                <p class="mb-0 text-muted mb-0 f-13"><a href="#" class="text-dark">Aliquam lorem dapibus a in viverra quis feugiat metus.</a></p>
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <a href="#" class="text-dark">
                                            <p class="mb-0">View all</p>
                                        </a>
                                    </li>
                                    <li class="list-inline-item float-right">
                                        <p class="text-dark mb-0">05-Sep-2018</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="job-detail mt-4 mb-5">
                    <h5 class="text-dark text-center p-2 mb-0">Tags</h5>
                    <hr class="m-0">
                    <div class=" p-3">
                        <div class="blog-tages text-center">

                            <a href="#">Creative</a>
                            <a href="#">Developer</a>
                            <a href="#">Wordpress</a>
                            <a href="#">Design</a>
                            <a href="#">Google</a>
                            <a href="#">Traffic</a>
                            <a href="#">ISO</a>
                            <a href="#">Blog</a>
                            <a href="#">Resume</a>
                            <a href="#">Themes</a>
                            <a href="#">Job</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="job-detail mt-4 p-2">
                    <div class="blog-details-img">
                        <img src="~/images/blog/@Model.Blog.Image" alt="" class="img-fluid mx-auto d-block">
                    </div>
                    <div class="blog-details meta mt-2">
                        <ul class="list-inline mb-1">
                            <li class="list-inline-item mr-4">
                                <p class="text-muted mb-0"><i class="mdi mdi-calendar-range mr-1"></i>@Model.Blog.CreateTime.ToString("MM/MMMM/yyyy")</p>
                            </li>

                            <li class="list-inline-item mr-4">
                                <p class="text-muted mb-0"><i class="mdi mdi-message-reply-text mr-1"></i>@Model.Comments.Count()</p>
                            </li>

                            <li class="list-inline-item">
                                <p class="text-muted mb-0"><i class="mdi mdi-layers mr-1"></i>@Model.Blog.Category.CategoryName</p>
                            </li>
                        </ul>
                    </div>
                    <div class="blog-details-desc p-2">
                        <h6 class="mb-3 f-18"><a href="#" class="text-dark">@Model.Blog.Title</a></h6>

                        <p class="text-muted mb-3 f-13">@Model.Blog.AllDescription</p>



                        <div class="blog-blockquote-desc mb-5 mt-4">
                            <blockquote class="blockquote position-relative">
                                <i class="fas fa-quote-left text-custom"></i>
                                <p class="mb-2 font-italic f-14 text-dark">@Model.Blog.AuthorDesc</p>
                                <h6 class="mb-0"><a href="#" class="text-dark">By : @Model.Blog.AuthorName</a></h6>
                            </blockquote>
                        </div>

                        <hr class="mb-2">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item mt-1">
                                <a href="#" class="text-dark">
                                    <p class="mb-0 f-17"><i class="mdi mdi-heart-outline mr-1 text-custom"></i>Like</p>
                                </a>
                            </li>
                            <li class="list-inline-item float-right">
                                <ul class="blog-details-icons list-inline">
                                    <li class="list-inline-item f-16">Share :</li>
                                    <li class="list-inline-item"><a href="@Model.Blog.Facebook" class=""><i class="mdi mdi-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="@Model.Blog.Twitter" class=""><i class="mdi mdi-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="@Model.Blog.Whatsapp" class=""><i class="mdi mdi-whatsapp"></i></a></li>
                                    <li class="list-inline-item"><a href="@Model.Blog.Instagram" class=""><i class="mdi mdi-instagram"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                        <hr class="mt-2 mb-2">
                    </div>
                </div>

                <h5 class="text-dark mt-4"><i class="mdi mdi-comment-multiple mr-2"></i>@Model.Comments.Count()</h5>

                <div class="job-detail p-4" id="mainDiv">
                    @foreach (var item in Model.Comments)
                    {
                    <div class="media" id="mediaa">
                        <div class="blog-comment-img">
                            <img class="img-fluid d-block mx-auto rounded-circle" alt="" src="images/employers/img-6.jpg">
                        </div>
                        <div class="media-body ml-3">
                            <h6 class="mb-0"><a href="#" class="text-dark">@item.AppUser.FullName</a></h6>
                            <p class="text-muted mb-0">@item.CreateTime</p>
                            <p class="text-muted f-14 mb-2">@item.Message</p>
                            <p class="mb-0"><a href="#" class="text-muted"><i class="mdi mdi-reply-all mr-2"></i>Reply</a></p>
                            <hr>
                        </div>
                        @if (item.AppUser.UserName == User.Identity.Name)
                        {
                            <a class="btn btn-warning" id="deleteBtn" data-id="@item.Id">Delete</a>
                        }
                    </div>
                                 
                    }
                    <hr>

                    <hr>
                </div>
                <h5 class="text-dark mt-4"><i class="mdi mdi-pencil mr-2"></i>Leave Your Comments</h5>
                <div class="job-detail p-4">
                    <div class="custom-form">
                       
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group blog-details-form">
                                        <i class="mdi mdi-comment-processing text-muted f-17"></i>
                                        <textarea name="message" id="messageInput" rows="4" class="form-control blog-details" placeholder="Comment"></textarea>
                                        <input type="text" name="blogId" id="blogIdHidden" value="@Model.Blog.Id" hidden />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button  id="submitComment" class="submitBnt btn btn-custom">Post Comment</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BLOG LIST END -->
<!-- subscribe start -->
<partial name="_partialSubscribe" />
<!-- subscribe end -->




@section Scripts
    {
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script>
            let message = document.querySelector('#messageInput');
            let blogId = document.querySelector('#blogIdHidden');
            let commentBtn = document.querySelector('#submitComment');

            commentBtn.addEventListener('click', function()  {

             let formData = new FormData();

          formData.append("Message", message.value);
          formData.append("BlogId", blogId.value);


                axios.post('/Blog/CreateComment',formData)
                .then(function (response) {
                    //console.log(response.data.time);
                    let date = new Date();
                   let childDiv=
                    ` <div class="media" id="mediaa">
                            <div class="blog-comment-img">
                                <img class="img-fluid d-block mx-auto rounded-circle" alt="" src="images/employers/img-6.jpg">
                            </div>
                            <div class="media-body ml-3">
                                <h6 class="mb-0"><a href="#" class="text-dark">${response.data.user}</a></h6>
                                <p class="text-muted mb-0">${response.data.time}</p>
                                <p class="text-muted f-14 mb-2">${response.data.message}</p>
                                <p class="mb-0"><a href="#" class="text-muted"><i class="mdi mdi-reply-all mr-2"></i>Reply</a></p>
                                <hr>
                            </div>
                          <a class="btn btn-warning" id="deleteBtn" data-id="${response.data.Id}">Delete</a>   
                        </div>
                            `
                    let mainDiv = document.getElementById("mainDiv");
                    mainDiv.innerHTML += childDiv;
                    message.value = "";
                })


                .catch(function (error) {
                  if (error.response){
                    let errorObj =  error.response.data;
                    for(let errors in errorObj){
                        let error = errorObj[errors];
                        console.log(error);
                    }
                  }
                });

        })

            // Delete
            $(document).on("click", "#deleteBtn", function () {

                let id = $(this).attr("data-id");


                $.ajax({
                    url: "/Blog/DeleteComment?Id=" + id,
                    type: "Get",
                    success: function (res) {

                    }
                });

                $(this).closest('#mediaa').remove()
            });
            

        </script>
    }