@model JobVM
@using System.Globalization
@{
    ViewData["Title"] = "Index";
}

<section class="page-header">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="page-header-title text-center text-white">
                    <h4 class="text-uppercase">Job List view</h4>
                    <div>
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="#">Joobsy</a></li>
                            <li class="breadcrumb-item"><a href="#">Jobs</a></li>
                            <li class="breadcrumb-item active">Job List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->
@*<partial name="_partialSearch" />*@

<!-- search start -->
<div class="container">
    <div class="home-form-position">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="home-registration-form bg-white job-list-reg-form p-4 mb-3">
                    @**@<form class="registration-form">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="registration-form-box">
                                    <i class="fa fa-briefcase"></i>
                                    <input type="text" id="keywordInput" class="form-control registration-input-box" placeholder="Job keybords...">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="registration-form-box">
                                    <i class="fa fa-list-alt"></i>
                                    <select id="select-category" class="demo-default" placeholder="Categories...">
                                        <option value="">Categories...</option>
                                        @foreach (var item in Model.Categories)
                                        {
                                            <option value="@item.Id">@item.CategoryName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="registration-form-box">
                                    <input type="button" id="searchBtn" class="submitBnt btn btn-custom btn-block" value="Submit">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- search end -->

<section id="main">

</section>

<!-- JOB LIST START -->
<section class="section pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center mb-5">
                    <h4>Available job for you</h4>
                    <p class="text-muted mb-1">minima veniam quis nostrum exercitationem Quis autem vel eum iure</p>
                    <div class="title-icon position-relative">
                        <i class="mdi mdi-chevron-down position-relative h3 text-custom bg-white"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="left-sidebar">
                    <div class="accordion" id="accordionExample">
                        <div class="card mt-4">
                            <a data-toggle="collapse" href="#collapseOne" class="job-list" aria-expanded="true" aria-controls="collapseOne">
                                <div class="card-header" id="headingOne">
                                    <h6 class="mb-0 text-dark f-18">Date Posted</h6>
                                </div>
                            </a>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                                <div class="card-body p-0">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label ml-1 text-muted f-15" for="customRadio1">Last Hour</label>
                                    </div>

                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label ml-1 text-muted f-15" for="customRadio2">Last 24 hours</label>
                                    </div>

                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label ml-1 text-muted f-15" for="customRadio3">Last 7 days</label>
                                    </div>

                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label ml-1 text-muted f-15" for="customRadio4">Last 14 days</label>
                                    </div>

                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label ml-1 text-muted f-15" for="customRadio5">Last 30 days</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- collapse one end -->
                        <div class="card mt-4">
                            <a data-toggle="collapse" href="#collapsetwo" class="job-list" aria-expanded="true" aria-controls="collapsetwo">
                                <div class="card-header" id="headingtwo">
                                    <h6 class="mb-0 text-dark f-18">Categories</h6>
                                </div>
                            </a>
                            <div id="collapsetwo" class="collapse show" aria-labelledby="headingtwo">
                                <div class="card-body p-0">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio7" name="customRadio1" class="custom-control-input">
                                        <label class="custom-control-label ml-1 text-muted f-15" for="customRadio7">Digital & Creative</label>
                                    </div>

                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio8" name="customRadio1" class="custom-control-input">
                                        <label class="custom-control-label ml-1 text-muted f-15" for="customRadio8">Accountancy</label>
                                    </div>

                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio9" name="customRadio1" class="custom-control-input">
                                        <label class="custom-control-label ml-1 text-muted f-15" for="customRadio9">Banking</label>
                                    </div>

                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio10" name="customRadio1" class="custom-control-input">
                                        <label class="custom-control-label ml-1 text-muted f-15" for="customRadio10">IT Contractor</label>
                                    </div>

                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio11" name="customRadio1" class="custom-control-input">
                                        <label class="custom-control-label ml-1 text-muted f-15" for="customRadio11">Graduate</label>
                                    </div>

                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio12" name="customRadio1" class="custom-control-input">
                                        <label class="custom-control-label ml-1 text-muted f-15" for="customRadio12">Estate Agency</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- collapse one end -->
                        <div class="card mt-4">
                            <a data-toggle="collapse" href="#collapsethree" class="job-list" aria-expanded="true" aria-controls="collapsethree">
                                <div class="card-header" id="headingthree">
                                    <h6 class="mb-0 text-dark f-18">Experince</h6>
                                </div>
                            </a>
                            <div id="collapsethree" class="collapse show" aria-labelledby="headingthree">
                                <div class="card-body p-0">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio13" name="customRadio2" class="custom-control-input">
                                        <label class="custom-control-label ml-1 text-muted f-15" for="customRadio13">1Year to 2Year</label>
                                    </div>

                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio14" name="customRadio2" class="custom-control-input">
                                        <label class="custom-control-label ml-1 text-muted f-15" for="customRadio14">2Year to 3Year</label>
                                    </div>

                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio15" name="customRadio2" class="custom-control-input">
                                        <label class="custom-control-label ml-1 text-muted f-15" for="customRadio15">3Year to 4Year</label>
                                    </div>

                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio16" name="customRadio2" class="custom-control-input">
                                        <label class="custom-control-label ml-1 text-muted f-15" for="customRadio16">IT Contractor</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- collapse one end -->
                        <div class="card mt-4">
                            <a data-toggle="collapse" href="#collapsefour" class="job-list" aria-expanded="true" aria-controls="collapsefour">
                                <div class="card-header" id="headingfour">
                                    <h6 class="mb-0 text-dark f-18">Gender</h6>
                                </div>
                            </a>
                            <div id="collapsefour" class="collapse show" aria-labelledby="headingfour">
                                <div class="card-body p-0">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio17" name="customRadio3" class="custom-control-input">
                                        <label class="custom-control-label ml-1 text-muted f-15" for="customRadio17">Male</label>
                                    </div>

                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio18" name="customRadio3" class="custom-control-input">
                                        <label class="custom-control-label ml-1 text-muted f-15" for="customRadio18">Female</label>
                                    </div>

                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio19" name="customRadio3" class="custom-control-input">
                                        <label class="custom-control-label ml-1 text-muted f-15" for="customRadio19">Others</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- collapse one end -->
                    </div>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="show-results mt-4">
                            <div class="float-left">
                                <h5 class="text-dark mb-0 pt-2 f-18">Showing results 0-20</h5>
                            </div>
                            <div class="sort-button float-right">
                                <select id="categorySelec" class="nice-select">
                                    <option value="">Categories...</option>
                                    @foreach (var item in Model.Categories)
                                    {
                                        <option value="@item.Id">@item.CategoryName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <section id="boom">
                    @foreach (var item in Model.Jobs)
                    {
                        var minutesPassed = (int)(DateTime.Now - item.CreateTime).TotalMinutes;
                        var hoursPassed = (int)(DateTime.Now - item.CreateTime).TotalHours;
                        var daysPassed = (int)(DateTime.Now - item.CreateTime).TotalDays;
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="job-list-box mt-4">
                                    <div class="p-3 ">
                                        <div class="row align-items-center ">
                                            <div class="col-lg-2">
                                                <div class="company-logo-img">
                                                    <img src="~/images/@item.Image" alt="" class="img-fluid mx-auto d-block">
                                                </div>
                                            </div>
                                            <div class="col-lg-7 col-md-9">
                                                <div class="job-list-desc">
                                                    <h5 class="mb-2"><a href="#" class="text-dark">Title: @item.Title</a></h5>
                                                    <p class="text-muted mb-0">Category: <b>@item.Category.CategoryName</b> </p>
                                                    <p class="text-muted mb-0"><i class="mdi mdi-bank mr-2"></i>@item.City.CityName</p>
                                                    <ul class="list-inline mb-0">
                                                        <li class="list-inline-item mr-3">
                                                            <p class="text-muted mb-0"><i class="mdi mdi-map-marker mr-2"></i>@item.Country.CountryName</p>
                                                            <p class="text-muted mb-0">Email: @item.Email</p>
                                                            <p class="text-muted mb-0">Description: @item.Description</p>
                                                            <p class="text-muted mb-0">Experience: @item.Experience</p>
                                                            <p class="text-muted mb-0">Minx Salary: @item.MinSalary</p>
                                                            <p class="text-muted mb-0">Max Salary: @item.MaxSalary</p>
                                                            <p class="text-muted mb-0">User Name: @item.AppUser.UserName</p>

                                                        </li>

                                                        @if (minutesPassed < 60)
                                                        {
                                                            <li class="list-inline-item">
                                                                <p class="text-muted mb-0"><i class="mdi mdi-clock-outline mr-2"></i>@minutesPassed minutes ago </p>
                                                            </li>
                                                        }
                                                        else if (hoursPassed < 24)
                                                        {

                                                            <li class="list-inline-item">
                                                                <p class="text-muted mb-0"><i class="mdi mdi-clock-outline mr-2"></i>@hoursPassed hours ago </p>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li class="list-inline-item">
                                                                <p class="text-muted mb-0"><i class="mdi mdi-clock-outline mr-2"></i>@daysPassed days ago </p>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3">
                                                <div class="job-list-button-sm text-right">
                                                    <span class="badge badge-success">@item.JobType</span>

                                                    <div class="mt-3">
                                                        <form method="post">
                                                            <input type="hidden" name="userId" value="@item.AppUser.Id" />
                                                            <button type="submit" class="apply-btn-sm btn-custom">Apply</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </section>


                @* dbden gelenler *@
               
                <div class="row">
                    <div class="col-lg-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination job-pagination mt-5 justify-content-center">
                                @for (int i = 1; i <= ViewBag.PageCount; i++)
                                {
                                    if (ViewBag.Page == i)
                                    {
                                        <li class="page-item disabled active"><a class="page-link" href="#">@i</a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item"><a class="page-link" asp-controller="Job" asp-action="Index" asp-route-page="@i">@i</a></li>
                                    }
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- JOB LIST START -->


<partial name="_partialSubscribe" />





@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        let keywordInput = document.getElementById('keywordInput');
        let selectCategory = document.getElementById('select-category');
        let searchBtn = document.getElementById('searchBtn');


        searchBtn.addEventListener('click', function () {
            $('#main').html('')
            let formData = new FormData();
            formData.append("keyword", keywordInput.value);
            formData.append("categoryId", selectCategory.value);
            axios.post('/Job/Search', formData)
                .then(function (response) {
                    console.log(response.data);
                    $.each(response.data, function (index, element) {
                        console.log(element);
                        
                         $('#main').append(
                            ` 
                            <div class="p-3">
                                <div class="row align-items-center">
                                    <div class="col-lg-4">
                                        <div class="company-logo-img">
                                            <img src="${"images/" + element.image}" alt="" class="img-fluid mx-auto d-block">
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-9">
                                        <div class="job-list-desc">
                                            <h5 class="mb-2"><a href="#" class="text-dark">Title: ${element.title}</a></h5>
                                            <p class="text-muted mb-0">Category: <b>${element.category}</b> </p>
                                            <p class="text-muted mb-0"><i class="mdi mdi-bank mr-2"></i>${element.city}</p>
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item mr-3">
                                                    <p class="text-muted mb-0"><i class="mdi mdi-map-marker mr-2"></i>${element.country}</p>
                                                    <p class="text-muted mb-0">Email: ${element.email}</p>
                                                    <p class="text-muted mb-0">Description: ${element.description}</p>
                                                    <p class="text-muted mb-0">Experience: ${element.experience}</p>
                                                    <p class="text-muted mb-0">Minx Salary: ${element.minSalary}</p>
                                                    <p class="text-muted mb-0">Max Salary: ${element.maxSalary}</p>
                                                    <p class="text-muted mb-0">User Name: ${element.appUser}</p>

                                                    </li>

                                                    <li class="list-inline-item">
                                                        <p class="text-muted mb-0"><i class="mdi mdi-clock-outline mr-2"></i>8 days ago </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            `
                        )

                    });

                })

                .catch(function (error) {
                    if (error.response) {
                        let errorObj = error.response.data;
                        for (let errors in errorObj) {
                            let error = errorObj[errors];
                            console.log(error);
                        }
                    }
                });

        })







        //second pART
            let categorySelec = document.getElementById("categorySelec");
          
            categorySelec.addEventListener('change', (event) => {
                $('#boom').html('')
                console.log(event.target.value);
                let formData = new FormData();
                formData.append("categoryid", categorySelec.value)

                axios.post('/Job/CategorySelect', formData)
                    .then(function (response) {
                        console.log(response.data);
                        $.each(response.data, function (index, element) {
                            console.log(element);
                            //$(".items-job").html('')
                            $('#boom').append(
                                ` 
                            <div class="p-3">
                                <div class="row align-items-center">
                                    <div class="col-lg-4">
                                        <div class="company-logo-img">
                                            <img src="${"images/" + element.image}" alt="" class="img-fluid mx-auto d-block">
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-9">
                                        <div class="job-list-desc">
                                            <h5 class="mb-2"><a href="#" class="text-dark">Title: ${element.title}</a></h5>
                                            <p class="text-muted mb-0">Category: <b>${element.category}</b> </p>
                                            <p class="text-muted mb-0"><i class="mdi mdi-bank mr-2"></i>${element.city}</p>
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item mr-3">
                                                    <p class="text-muted mb-0"><i class="mdi mdi-map-marker mr-2"></i>${element.country}</p>
                                                    <p class="text-muted mb-0">Email: ${element.email}</p>
                                                    <p class="text-muted mb-0">Description: ${element.description}</p>
                                                    <p class="text-muted mb-0">Experience: ${element.experience}</p>
                                                    <p class="text-muted mb-0">Minx Salary: ${element.minSalary}</p>
                                                    <p class="text-muted mb-0">Max Salary: ${element.maxSalary}</p>
                                                    <p class="text-muted mb-0">User Name: ${element.appUser}</p>

                                                    </li>

                                                    <li class="list-inline-item">
                                                        <p class="text-muted mb-0"><i class="mdi mdi-clock-outline mr-2"></i>8 days ago </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            `
                            )

                        });

                    })


                    .catch(function (error) {
                        if (error.response) {
                            let errorObj = error.response.data;
                            for (let errors in errorObj) {
                                let error = errorObj[errors];
                                console.log(error);
                            }
                        }
                    });


            });  
       
        


    </script>
}


