@model HomeVM
@{
    ViewData["Title"] = "Index";
}

<section class="bg-home">
    <div class="bg-overlay"></div>
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="home-title text-center text-white">
                            <h5 class="small-title text-uppercase f-17 text-white-50 mb-4">@Model.Header.Title</h5>
                            <h1 class="mb-4">@Model.Header.Description</h1>
                        </div>
                    </div>
                </div>
                <div class="home-form-position">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="home-registration-form p-4 mb-3">
                                <form class="registration-form">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6">
                                            <div class="registration-form-box">
                                                <i class="fa fa-briefcase"></i>
                                                <input type="text"  name="keywordInput" class="form-control registration-input-box" placeholder="Job keybords...">
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-4 col-md-6">
                                            <div class="registration-form-box">
                                                <i class="fa fa-list-alt"></i>
                                                <select id="select-category" name="selectCategory" class="demo-default" placeholder="Categories...">
                                                    <option value="">Categories...</option>
                                                    @foreach (var item in Model.Categories)
                                                    {
                                                        <option value="@item.Id">@item.CategoryName</option>
                                                    }

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="registration-form-box">
                                                <input type="submit" class="submitBnt btn btn-custom btn-block" value="Submit">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <p class="text-white-50 mb-0"><span class="text-white">keywords :</span> Web designer, UI/UX designer, Graphic designer, Developer, PHP, Call center...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->
<section>
    @if (Model.Jobs!=null)
    {
        @foreach (var item in Model.Jobs)
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="job-list-box mt-4">
                        <div class="p-3">
                            <div class="row align-items-center">
                                <div class="col-lg-4">
                                    <div class="company-logo-img">
                                        <img src="/images/4123422f-3b7b-4c7e-966f-1d537f11265eDeadlineTimeByPCbots.jpg" alt="" class="img-fluid mx-auto d-block">
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-9">
                                    <div class="job-list-desc">
                                        <h5 class="mb-2"><a href="#" class="text-dark">Title: @item.Title</a></h5>
                                        <p class="text-muted mb-0">Category: <b>@item.Category.CategoryName</b> </p>
                                        <p class="text-muted mb-0"><i class="mdi mdi-bank mr-2"></i>@item.City.CityName</p>
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item mr-3">
                                                <p class="text-muted mb-0"><i class="mdi mdi-map-marker mr-2"></i>@item.Country.CountryName</p>
                                                <p class="text-muted mb-0">Email: @item.Email</p>
                                                <p class="text-muted mb-0">Description: @item.Description</p>
                                                <p class="text-muted mb-0">Experience: @item.Experience</p>
                                                <p class="text-muted mb-0">Minx Salary: @item.MinSalary</p>
                                                <p class="text-muted mb-0">Max Salary: @item.MaxSalary</p>
                                                <p class="text-muted mb-0">User Name: @item.AppUser.UserName</p>

                                            </li>

                                            <li class="list-inline-item">
                                                <p class="text-muted mb-0"><i class="mdi mdi-clock-outline mr-2"></i>8 days ago </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    }
</section>
<!-- popular category start -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center mb-4">
                    <h4>Popular Category</h4>
                    <p class="text-muted mb-1">minima veniam quis nostrum exercitationem Quis autem vel eum iure</p>
                    <div class="title-icon position-relative">
                        <i class="mdi mdi-chevron-down position-relative h3 text-custom bg-white"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var ctg in Model.Categories)
            {
                <div class="col-lg-3 col-md-6">
                    <div class="popu-category-box bg-light rounded text-center mt-4 p-4">
                        <div class="popu-category-icon mb-3">
                            <i class="@ctg.IconClassName"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="f-18 mb-4"><a asp-action="CategoryDetail" asp-route-id="@ctg.Id" class="text-dark">@ctg.CategoryName</a></h5>
                            <p class="text-custom mb-0 rounded">@ctg.Jobs.Count()</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- popular category end -->
<!-- all jobs start -->
<section class="section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center mb-5">
                    <h4>Find your Jobs</h4>
                    <p class="text-muted mb-1">minima veniam quis nostrum exercitationem Quis autem vel eum iure</p>
                    <div class="title-icon position-relative">
                        <i class="mdi mdi-chevron-down position-relative h3 text-custom bg-light"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-pills job-tab justify-content-center mb-5" id="pills-tab" role="tablist">
                    <li id="recentJobbb" class="nav-item">
                        <a class="nav-link active" id="recent-job-tab" data-toggle="pill" href="#recent-job" role="tab" aria-controls="recent-job" aria-selected="true">Recent Jobs</a>  
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="featured-job-tab" data-toggle="pill" href="#featured-job" role="tab" aria-controls="featured-job" aria-selected="false">Featured Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="part-job-tab" data-toggle="pill" href="#part-job" role="tab" aria-controls="part-job" aria-selected="false">Part Time</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="full-job-tab" data-toggle="pill" href="#full-job" role="tab" aria-controls="full-job" aria-selected="false">Full Time</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="recent-job" role="tabpanel" aria-labelledby="recent-job-tab">
                        <div class="row mb-5">
                            <div class="col-lg-12">


                                @foreach (var item in Model.JobsTypes.OrderByDescending(x=>x.Id))
                                {
                                    <div class="job-box bg-white mt-4">
                                        <div class="p-4">
                                            <div class="row align-items-center">
                                                <div class="col-md-2">
                                                    <div class="mo-mb-2">
                                                        <img src="~/images/@item.Image" alt="" class="img-fluid mx-auto d-block">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div>
                                                        <h5 class="f-18"><a href="#" class="text-dark">@item.Category.CategoryName</a></h5>
                                                        <p class="text-muted mb-0">@item.Title</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div>
                                                        <p class="text-muted mb-0"><i class="mdi mdi-map-marker text-custom mr-2"></i>@item.City.CityName</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <p class="text-muted mb-0 mo-mb-2"><span class="text-custom">$</span>@item.MinSalary - @item.MaxSalary /m</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <p class="text-muted mb-0">@item.JobType</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-3 bg-light">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div>
                                                        <p class="text-muted mb-0 mo-mb-2"><span class="text-dark">Experience :</span> @item.Experience years</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        <p class="text-muted mb-0 mo-mb-2"><span class="text-dark">Website :</span> @item.Website </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <a href="#" class="text-custom">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>
                        <!-- end row -->
                        <div class="row">
                            <div class="col-lg-12">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination job-pagination justify-content-center">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                                <i class="mdi mdi-chevron-double-left f-15"></i>
                                            </a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">
                                                <i class="mdi mdi-chevron-double-right f-15"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="featured-job" role="tabpanel" aria-labelledby="featured-job-tab">
                        <div class="row mb-5">
                            <div class="col-lg-12">

                                @foreach (var item in Model.JobsTypes.Where(x=>x.featuredJob==true))
                                {
                                    <div class="job-box bg-white mt-4">
                                        <div class="p-4">
                                            <div class="row align-items-center">
                                                <div class="col-md-2">
                                                    <div class="mo-mb-2">
                                                        <img src="~/images/@item.Image" alt="" class="img-fluid mx-auto d-block">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div>
                                                        <h5 class="f-18"><a href="#" class="text-dark">@item.Category.CategoryName</a></h5>
                                                        <p class="text-muted mb-0">@item.Title</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div>
                                                        <p class="text-muted mb-0"><i class="mdi mdi-map-marker text-custom mr-2"></i>@item.City.CityName</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <p class="text-muted mb-0 mo-mb-2"><span class="text-custom">$</span>@item.MinSalary - @item.MaxSalary /m</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <p class="text-muted mb-0">@item.JobType</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-3 bg-light">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div>
                                                        <p class="text-muted mb-0 mo-mb-2"><span class="text-dark">Experience :</span> @item.Experience years</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        <p class="text-muted mb-0 mo-mb-2"><span class="text-dark">Website :</span> @item.Website </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <a href="#" class="text-custom">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }



                            </div>
                        </div>
                        <!-- end row -->
                        <div class="row">
                            <div class="col-lg-12">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination job-pagination justify-content-center">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                                <i class="mdi mdi-chevron-double-left f-15"></i>
                                            </a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">
                                                <i class="mdi mdi-chevron-double-right f-15"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="part-job" role="tabpanel" aria-labelledby="part-job-tab">
                        <div class="row mb-5">
                            <div class="col-lg-12">

                                <div class="col-lg-12">

                                    @foreach (var item in Model.JobsTypes.Where(x => x.JobType == "Part Time"))
                                    {
                                        <div class="job-box bg-white mt-4">
                                            <div class="p-4">
                                                <div class="row align-items-center">
                                                    <div class="col-md-2">
                                                        <div class="mo-mb-2">
                                                            <img src="~/images/@item.Image" alt="" class="img-fluid mx-auto d-block">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div>
                                                            <h5 class="f-18"><a href="#" class="text-dark">@item.Category.CategoryName</a></h5>
                                                            <p class="text-muted mb-0">@item.Title</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div>
                                                            <p class="text-muted mb-0"><i class="mdi mdi-map-marker text-custom mr-2"></i>@item.City.CityName</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div>
                                                            <p class="text-muted mb-0 mo-mb-2"><span class="text-custom">$</span>@item.MinSalary - @item.MaxSalary /m</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div>
                                                            <p class="text-muted mb-0">@item.JobType</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-3 bg-light">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div>
                                                            <p class="text-muted mb-0 mo-mb-2"><span class="text-dark">Experience :</span> @item.Experience years</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div>
                                                            <p class="text-muted mb-0 mo-mb-2"><span class="text-dark">Website :</span> @item.Website </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div>
                                                            <a href="#" class="text-custom">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                        <div class="row">
                            <div class="col-lg-12">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination job-pagination justify-content-center">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                                <i class="mdi mdi-chevron-double-left f-15"></i>
                                            </a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">
                                                <i class="mdi mdi-chevron-double-right f-15"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="full-job" role="tabpanel" aria-labelledby="full-job-tab">
                        <div class="row mb-5">
                            <div class="col-lg-12">


                                @foreach (var item in Model.JobsTypes.Where(x => x.JobType == "Full Time"))
                                {
                                    <div class="job-box bg-white mt-4">
                                        <div class="p-4">
                                            <div class="row align-items-center">
                                                <div class="col-md-2">
                                                    <div class="mo-mb-2">
                                                        <img src="~/images/@item.Image" alt="" class="img-fluid mx-auto d-block">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div>
                                                        <h5 class="f-18"><a href="#" class="text-dark">@item.Category.CategoryName</a></h5>
                                                        <p class="text-muted mb-0">@item.Title</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div>
                                                        <p class="text-muted mb-0"><i class="mdi mdi-map-marker text-custom mr-2"></i>@item.City.CityName</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <p class="text-muted mb-0 mo-mb-2"><span class="text-custom">$</span>@item.MinSalary - @item.MaxSalary /m</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <p class="text-muted mb-0">@item.JobType</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-3 bg-light">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div>
                                                        <p class="text-muted mb-0 mo-mb-2"><span class="text-dark">Experience :</span> @item.Experience years</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div>
                                                        <p class="text-muted mb-0 mo-mb-2"><span class="text-dark">Website :</span> @item.Website </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>
                                                        <a href="#" class="text-custom">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <!-- end row -->
                        <!-- Pagination-->
                        <div class="row">
                            <div class="col-lg-12">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination job-pagination justify-content-center">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                                <i class="mdi mdi-chevron-double-left f-15"></i>
                                            </a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">
                                                <i class="mdi mdi-chevron-double-right f-15"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Pagination end-->
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end containar -->
</section>

<!-- all jobs end -->
<!-- How it Work start -->
<section class="section">
    <div class="container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="title text-center mb-4">
                        <h4>How It Work</h4>
                        <p class="text-muted mb-1">minima veniam quis nostrum exercitationem Quis autem vel eum iure</p>
                        <div class="title-icon position-relative">
                            <i class="mdi mdi-chevron-down position-relative h3 text-custom bg-white"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="how-it-work-box bg-light p-4 mt-4 text-center">
                        <div class="how-it-work-img mb-4">
                            <img src="~/images/how-it-work/img-1.png" alt="" class="img-fluid mx-auto d-block">
                            <p>1</p>
                        </div>
                        <div>
                            <h5 class="f-18">Register an account</h5>
                            <p class="f-14 text-muted">Donec pede justo fringilla vel aliquet nec vulputate eget arcu. In enim justo rhoncus ut a, venenatis vitae justo.</p>
                            <a href="#" class="text-custom">Read more <i class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="how-it-work-box bg-light p-4 mt-4 text-center">
                        <div class="how-it-work-img mb-4">
                            <img src="~/images/how-it-work/img-2.png" alt="" class="img-fluid mx-auto d-block">
                            <p>2</p>
                        </div>
                        <div>
                            <h5 class="f-18">Search your job</h5>
                            <p class="f-14 text-muted">Aliquam lorem ante dapibus in, viverra feugiatquis a tellus. Phasellus viverra nulla ut metus varius Quisque rutrum.</p>
                            <a href="#" class="text-custom">Read more <i class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="how-it-work-box bg-light p-4 mt-4 text-center">
                        <div class="how-it-work-img mb-4">
                            <img src="~/images/how-it-work/img-3.png" alt="" class="img-fluid mx-auto d-block">
                            <p>3</p>
                        </div>
                        <div>
                            <h5 class="f-18">Apply for job</h5>
                            <p class="f-14 text-muted">Nullam dictum felis eu pede mollis pretiumetus Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
                            <a href="#" class="text-custom">Read more <i class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- How it Work end -->
<!-- counter start -->
<section class="section bg-counter">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row" id="counter">
            <div class="col-lg-3 col-md-6">
                <div class="home-counter pt-3">
                    <div class="float-left counter-icon mr-3">
                        <i class="mdi mdi-bank h1 text-white"></i>
                    </div>
                    <div class="counter-content">
                        <h1 class="counter-value text-custom mb-1" data-count="120">10</h1>
                        <p class="counter-name text-white f-14 text-uppercase">Companies</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="home-counter pt-3">
                    <div class="float-left counter-icon mr-3">
                        <i class="mdi mdi-file-document-box h1 text-white"></i>
                    </div>
                    <div class="counter-content">
                        <h1 class="counter-value text-custom mb-1" data-count="480">80</h1>
                        <p class="counter-name text-white f-14 text-uppercase">Applications</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="home-counter pt-3">
                    <div class="float-left counter-icon mr-3">
                        <i class="mdi mdi-calendar-multiple-check h1 text-white"></i>
                    </div>
                    <div class="counter-content">
                        <h1 class="counter-value text-custom mb-1" data-count="120">10</h1>
                        <p class="counter-name text-white f-14 text-uppercase">Job Posted</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="home-counter pt-3">
                    <div class="float-left counter-icon mr-3">
                        <i class="mdi mdi-account-multiple-plus h1 text-white"></i>
                    </div>
                    <div class="counter-content">
                        <h1 class="counter-value text-custom mb-1" data-count="200">10</h1>
                        <p class="counter-name text-white f-14 text-uppercase">Member</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- counter end -->

<!-- testimonial start -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center mb-4">
                    <h4>Our Success Stories</h4>
                    <p class="text-muted mb-1">minima veniam quis nostrum exercitationem Quis autem vel eum iure</p>
                    <div class="title-icon position-relative">
                        <i class="mdi mdi-chevron-down position-relative h3 text-custom bg-white"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-lg-12">
                <div id="owl-testi" class="owl-carousel owl-theme">
                    <div class="item testi-box p-4 mr-3 ml-2 mb-4 bg-light position-relative">
                        <p class="text-muted mb-5">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consecteturqui adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam</p>
                        <div class="clearfix">
                            <div class="testi-img float-left mr-3">
                                <img src="~/images/testi/img-1.png" alt="" class="rounded-circle">
                            </div>
                            <h5 class="f-18 pt-1">Kevin Stewart</h5>
                            <p class="text-muted mb-0">Web Designer at xyz Company</p>
                            <div class="testi-icon">
                                <i class="mdi mdi-format-quote-open display-2"></i>
                            </div>
                        </div>
                    </div>

                    <div class="item testi-box p-4 mr-3 ml-2 bg-light position-relative">
                        <p class="text-muted mb-5">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                        <div class="clearfix">
                            <div class="testi-img float-left mr-3">
                                <img src="~/images/testi/img-2.png" alt="" class="rounded-circle">
                            </div>
                            <h5 class="f-18 pt-1">Charles Garrett</h5>
                            <p class="text-muted mb-0">Marketing manager at abc Company</p>
                            <div class="testi-icon">
                                <i class="mdi mdi-format-quote-open display-2"></i>
                            </div>
                        </div>
                    </div>

                    <div class="item testi-box p-4 mr-3 ml-2 bg-light position-relative">
                        <p class="text-muted mb-5">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consecteturqui adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam</p>
                        <div class="clearfix">
                            <div class="testi-img float-left mr-3">
                                <img src="~/images/testi/img-3.png" alt="" class="rounded-circle">
                            </div>
                            <h5 class="f-18 pt-1">Perry Martinez</h5>
                            <p class="text-muted mb-0">Marketing manager at abc Company</p>
                            <div class="testi-icon">
                                <i class="mdi mdi-format-quote-open display-2"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row justify-content-center mt-5 pt-4">
            <div class="col-lg-8">
                <div class="text-center mb-4">
                    <h4>Our Client's</h4>
                    <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque totam rem aperiam eaque ipsa quae ab illo inventore veritatis et</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="client-images">
                    <img src="~/images/clients/1.png" alt="logo-img" class="mx-auto img-fluid d-block">
                </div>
            </div>
            <div class="col-md-3">
                <div class="client-images">
                    <img src="~/images/clients/2.png" alt="logo-img" class="mx-auto img-fluid d-block">
                </div>
            </div>
            <div class="col-md-3">
                <div class="client-images">
                    <img src="~/images/clients/3.png" alt="logo-img" class="mx-auto img-fluid d-block">
                </div>
            </div>
            <div class="col-md-3">
                <div class="client-images">
                    <img src="~/images/clients/4.png" alt="logo-img" class="mx-auto img-fluid d-block">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial end -->

<!-- blog start -->
<section class="section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center mb-4">
                    <h4>Career advice</h4>
                    <p class="text-muted mb-1">minima veniam quis nostrum exercitationem Quis autem vel eum iure</p>
                    <div class="title-icon position-relative">
                        <i class="mdi mdi-chevron-down position-relative h3 text-custom bg-light"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="blog-box bg-white mt-4">
                    <div class="blog-img">
                        <img src="~/images/blog/img-1.jpg" alt="" class="img-fluid mx-auto d-block">
                    </div>
                    <div class="blog-content p-4">
                        <h5 class="f-17 mb-3"><a href="#" class="text-dark">Aenean vulputate eleifend tellus</a></h5>
                        <p class="text-muted f-14 mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
                    </div>
                    <div class="clearfix pl-4 pr-4">
                        <div class="float-left">
                            <p class="text-muted f-14"><i class="mdi mdi-calendar-today text-custom"></i> 24 Sep, 2018</p>
                        </div>
                        <div class="float-right">
                            <a href="#" class="text-custom f-14">Read more..</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-box bg-white mt-4">
                    <div class="blog-img">
                        <img src="~/images/blog/img-2.jpg" alt="" class="img-fluid mx-auto d-block">
                    </div>
                    <div class="blog-content p-4">
                        <h5 class="f-17 mb-3"><a href="#" class="text-dark">Maecenas tempus tellus eget</a></h5>
                        <p class="text-muted f-14 mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
                    </div>
                    <div class="clearfix pl-4 pr-4">
                        <div class="float-left">
                            <p class="text-muted f-14"><i class="mdi mdi-calendar-today text-custom"></i> 25 Sep, 2018</p>
                        </div>
                        <div class="float-right">
                            <a href="#" class="text-custom f-14">Read more..</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-box bg-white mt-4">
                    <div class="blog-img">
                        <img src="~/images/blog/img-3.jpg" alt="" class="img-fluid mx-auto d-block">
                    </div>
                    <div class="blog-content p-4">
                        <h5 class="f-17 mb-3"><a href="#" class="text-dark">Vestibulum ante ipsum primis</a></h5>
                        <p class="text-muted f-14 mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
                    </div>
                    <div class="clearfix pl-4 pr-4">
                        <div class="float-left">
                            <p class="text-muted f-14"><i class="mdi mdi-calendar-today text-custom"></i> 26 Sep, 2018</p>
                        </div>
                        <div class="float-right">
                            <a href="#" class="text-custom f-14">Read more..</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog end -->

<partial name="_partialSubscribe" />


@section Scripts{ 
    <script>
    

    </script>
}